{% extends 'base.html' %}
{% load bootstrap5 %}
{% block body %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ post.image.url }}" class="img-fluid rounded-start" alt="">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">
                {% if post.user.profile_image %}
                    <img src="{{ post.user.profile_image.url }}" alt="" class="rounded-circle" width="30px">
                {% else %}
                    <img src="/media/profile/default.jpeg" alt="" class="rounded-circle" width="30px">
                {% endif %}
                    <a href="{% url 'accounts:profile' username=post.user %}">{{post.user}}</a>
            </h5>
            <p class="card-text">{{ post.content }}</p>
            <p class="card-text"><small class="text-body-secondary"></small></p>

                {% if user in post.like_users.all %}
                <i class="bi bi-heart-fill heart" style="color:red" data-post-id="{{post.id}}">{{ post.like_users.all|length }}</i>
                {% else %}
                    <i class="bi bi-heart heart" data-post-id="{{post.id}}">{{ post.like_users.all|length }}</i>
                {% endif%}
             명이 종아합니다.
            {% if user == post.user %}
            <a href="{% url 'posts:delete' id=post.id %}" class="btn btn-danger btn-sm">게시물삭제</a>
            <a href="{% url 'posts:update' id=post.id %}" class="btn btn-warning btn-sm">업데이트</a>
            {% endif %}
            <hr>
            <form action="{% url 'posts:comment_create' post_id=post.id %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-10">
                        {% bootstrap_form form show_label=False %}
                    </div>
                    <div class="col-2">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </div>
            </form>
            <hr>
            {% for comment in post.comment_set.all %}
            <div class="alert alert-light">
                <p>{{comment.user}} : {{comment.content}}</p>
                {% if user == comment.user %}
                <a href="{% url 'posts:comment_delete' post_id=post.id  comment_id=comment.id %}" class="btn btn-danger btn-sm">Delete</a>
                <hr>
                {% endif %}
            </div>
            {% endfor %}

        </div>
      </div>
    </div>
  </div>
  <script>
    let likeButtons = document.querySelectorAll("i.heart")
    // console.log(likeButtons)

    likeButtons.forEach((likeButton)=>{
        // console.log(likeButton)
        likeButton.addEventListener("click", (event)=>{
            // console.log(event.target)
            let postId = event.target.dataset.postId

            likeRequest(event.target, postId)

        })
    })

    let likeRequest = async (button, postId) => {
        // console.log(button, postId)
        let likeURL = `/posts/${postId}/likes-async/`
        // console.log(likeURL)
        let response = await fetch(likeURL)
        let result = await response.json()

        // console.log(result)

        //좋아요가 눌린 경우
        if(result.status){
            button.classList.remove('bi-heart')
            button.classList.add('bi-heart-fill')
            button.style.color = 'red'
            button.innerHTML = result.count
        } 
        // 좋아요가 취소된 경우
        else {
            button.classList.remove('bi-heart-fill')
            button.classList.add('bi-heart')
            button.style.color = 'black'
            button.innerHTML = result.count
        }
    }
    
</script>
{% endblock %}